In [3]:
import pymongo
import pandas as pd
import numpy as np
import datetime

In [2]:
client = pymongo.MongoClient()
db = client['Tick']

In [27]:
# 讀取連續資料做回測
stk_test = pd.DataFrame(db['STK'].find({}, {'_id': 0}))
stk_test['datetime'] = pd.to_datetime(stk_test['datetime'])
stk_return = stk_test[stk_test['datetime'] >= datetime.datetime(2022,10,20,9,0,0)]
stk_return = stk_test[stk_test['datetime'] < datetime.datetime(2022,10,20,13,25,0)]
stk_test = stk_test[stk_test['datetime'] >= datetime.datetime(2022,10,19,9,0,0)]
stk_test = stk_test[stk_test['datetime'] < datetime.datetime(2022,10,19,13,25,0)]
stk_test.set_index('datetime', inplace=True)

In [30]:
total_list = list()
for code in stk_test['code'].unique():
    time_list = list()
    single_stk_list = list()
    for t in stk_test[stk_test['code'] == code].index:
        time_package = [t - datetime.timedelta(milliseconds=0.05), t + datetime.timedelta(milliseconds=0.05)]
        time_list.append(t)
        single_stk_list.append(stk_test[(stk_test.index > time_package[0]) & (stk_test.index <= time_package[1])].groupby('datetime').sum())

    # 左側外盤成交(買), 右側內盤成交(賣)
    total = [0, 0]
    iso = [0, 0]
    nis = [0, 0]
    nis_s = [0, 0]
    nis_c = [0, 0]
    nis_b = [0, 0]

    for i in range(len(single_stk_list)):
        tick_type = single_stk_list[i].at[time_list[i], 'tick_type']
        volume = int(single_stk_list[i].at[time_list[i], 'volume'])
        data = single_stk_list[i]
        if len(data) == 1:
            if tick_type == '1': # 外盤成交
                iso[0] += volume
            elif tick_type == '2': # 內盤成交
                iso[1] += volume
        else:
            if len(data['code'].unique()) == 1:
                if tick_type == '1': # 外盤成交
                    nis_s[0] += volume
                elif tick_type == '2': # 內盤成交
                    nis_s[1] += volume
            else:
                if len(data[data['code'] == '2609']) == 1:
                    if tick_type == '1': # 外盤成交
                        nis_c[0] += volume
                    elif tick_type == '2': # 內盤成交
                        nis_c[1] += volume
                else:
                    if tick_type == '1': # 外盤成交
                        nis_b[0] += volume
                    elif tick_type == '2': # 內盤成交
                        nis_b[1] += volume
    nis = np.sum([nis_s, nis_c, nis_b], axis=0).tolist()
    total = np.sum([iso, nis], axis=0).tolist()
    total_list.append(pd.DataFrame(dict(zip([(code, 'Long'), (code, 'Short')], zip(total, iso, nis, nis_s, nis_c, nis_b)))))
    print('code:{} total {}, iso {}, nis {}, nis_s {}, nis_c {}, nis_b {}'.format(code, total, iso, nis, nis_s, nis_c, nis_b))

code:2609 total [23282, 18501], iso [23091, 18194], nis [191, 307], nis_s [152, 298], nis_c [39, 9], nis_b [0, 0]
code:2912 total [284, 393], iso [270, 393], nis [14, 0], nis_s [3, 0], nis_c [0, 0], nis_b [11, 0]
code:3037 total [23996, 17949], iso [23620, 17253], nis [376, 696], nis_s [287, 687], nis_c [0, 0], nis_b [89, 9]
code:2603 total [23158, 20179], iso [23022, 19932], nis [136, 247], nis_s [26, 228], nis_c [84, 1], nis_b [26, 18]
code:2892 total [5216, 7441], iso [4980, 7434], nis [236, 7], nis_s [164, 0], nis_c [0, 0], nis_b [72, 7]
code:2330 total [13548, 23871], iso [13085, 23490], nis [463, 381], nis_s [362, 331], nis_c [2, 1], nis_b [99, 49]
code:2303 total [28385, 31103], iso [28279, 30609], nis [106, 494], nis_s [0, 389], nis_c [0, 2], nis_b [106, 103]
code:6505 total [782, 1938], iso [772, 1914], nis [10, 24], nis_s [0, 0], nis_c [0, 5], nis_b [10, 19]
code:2801 total [2467, 3509], iso [2432, 3422], nis [35, 87], nis_s [0, 74], nis_c [0, 0], nis_b [35, 13]
code:1605 total [10475, 10058], iso [10454, 10011], nis [21, 47], nis_s [10, 14], nis_c [5, 0], nis_b [6, 33]
code:2317 total [18876, 27742], iso [18750, 27569], nis [126, 173], nis_s [32, 0], nis_c [0, 0], nis_b [94, 173]
code:2618 total [18064, 24238], iso [17961, 23374], nis [103, 864], nis_s [20, 796], nis_c [0, 8], nis_b [83, 60]
code:2395 total [387, 360], iso [383, 360], nis [4, 0], nis_s [0, 0], nis_c [0, 0], nis_b [4, 0]
code:2357 total [1342, 1359], iso [1318, 1332], nis [24, 27], nis_s [16, 27], nis_c [0, 0], nis_b [8, 0]
code:2887 total [5942, 15932], iso [5790, 15691], nis [152, 241], nis_s [0, 200], nis_c [0, 0], nis_b [152, 41]
code:3711 total [5372, 5503], iso [5294, 5363], nis [78, 140], nis_s [58, 115], nis_c [0, 0], nis_b [20, 25]
code:1216 total [1777, 3557], iso [1773, 3550], nis [4, 7], nis_s [0, 4], nis_c [0, 0], nis_b [4, 3]
code:2408 total [7357, 9563], iso [7297, 9473], nis [60, 90], nis_s [39, 55], nis_c [0, 0], nis_b [21, 35]
code:2454 total [2172, 2653], iso [2078, 2603], nis [94, 50], nis_s [73, 44], nis_c [0, 1], nis_b [21, 5]
code:6415 total [503, 603], iso [484, 589], nis [19, 14], nis_s [13, 9], nis_c [0, 1], nis_b [6, 4]
code:2884 total [10044, 26821], iso [9890, 25402], nis [154, 1419], nis_s [0, 1302], nis_c [0, 1], nis_b [154, 116]
code:2207 total [85, 39], iso [81, 38], nis [4, 1], nis_s [0, 0], nis_c [0, 0], nis_b [4, 1]
code:1402 total [3195, 3424], iso [3186, 3423], nis [9, 1], nis_s [0, 0], nis_c [0, 0], nis_b [9, 1]
code:2615 total [5684, 5221], iso [5661, 5145], nis [23, 76], nis_s [0, 55], nis_c [0, 0], nis_b [23, 21]
code:2880 total [3328, 5289], iso [3074, 5184], nis [254, 105], nis_s [142, 89], nis_c [0, 0], nis_b [112, 16]
code:3008 total [232, 234], iso [227, 219], nis [5, 15], nis_s [5, 14], nis_c [0, 0], nis_b [0, 1]
code:1101 total [15367, 17687], iso [15221, 17642], nis [146, 45], nis_s [48, 17], nis_c [1, 3], nis_b [97, 25]
code:5880 total [6179, 6257], iso [6141, 6021], nis [38, 236], nis_s [0, 228], nis_c [0, 0], nis_b [38, 8]
code:2882 total [10320, 10476], iso [10026, 10064], nis [294, 412], nis_s [141, 311], nis_c [0, 0], nis_b [153, 101]
code:2885 total [5245, 4807], iso [5120, 4789], nis [125, 18], nis_s [89, 7], nis_c [0, 0], nis_b [36, 11]
code:2890 total [4850, 13785], iso [4628, 13299], nis [222, 486], nis_s [5, 320], nis_c [0, 0], nis_b [217, 166]
code:5871 total [978, 1286], iso [974, 1263], nis [4, 23], nis_s [0, 2], nis_c [0, 0], nis_b [4, 21]
code:2002 total [16435, 9699], iso [15944, 9648], nis [491, 51], nis_s [414, 2], nis_c [0, 0], nis_b [77, 49]
code:2883 total [8437, 14163], iso [8228, 12603], nis [209, 1560], nis_s [2, 1511], nis_c [0, 2], nis_b [207, 47]
code:2382 total [4101, 3607], iso [4021, 3464], nis [80, 143], nis_s [53, 135], nis_c [0, 0], nis_b [27, 8]
code:2891 total [15408, 17857], iso [15042, 17610], nis [366, 247], nis_s [248, 29], nis_c [0, 0], nis_b [118, 218]
code:4904 total [2881, 1575], iso [2861, 1525], nis [20, 50], nis_s [0, 43], nis_c [0, 1], nis_b [20, 6]
code:5876 total [1530, 2899], iso [1518, 2895], nis [12, 4], nis_s [0, 0], nis_c [0, 1], nis_b [12, 3]
code:2308 total [1277, 2460], iso [1247, 2432], nis [30, 28], nis_s [23, 20], nis_c [0, 0], nis_b [7, 8]
code:2881 total [8850, 6232], iso [8771, 5770], nis [79, 462], nis_s [2, 407], nis_c [1, 0], nis_b [76, 55]
code:2301 total [6592, 6297], iso [6359, 6194], nis [233, 103], nis_s [202, 99], nis_c [1, 0], nis_b [30, 4]
code:4938 total [1422, 3110], iso [1410, 3075], nis [12, 35], nis_s [3, 32], nis_c [0, 1], nis_b [9, 2]
code:2886 total [4386, 12044], iso [4086, 11919], nis [300, 125], nis_s [128, 35], nis_c [0, 0], nis_b [172, 90]
code:1590 total [152, 195], iso [150, 195], nis [2, 0], nis_s [0, 0], nis_c [0, 0], nis_b [2, 0]
code:1303 total [3784, 3158], iso [3763, 3128], nis [21, 30], nis_s [11, 4], nis_c [0, 0], nis_b [10, 26]
code:2345 total [969, 1147], iso [941, 1134], nis [28, 13], nis_s [28, 9], nis_c [0, 1], nis_b [0, 3]
code:1326 total [1005, 1830], iso [995, 1725], nis [10, 105], nis_s [0, 39], nis_c [0, 0], nis_b [10, 66]
code:1301 total [4601, 3732], iso [4568, 3674], nis [33, 58], nis_s [2, 0], nis_c [0, 0], nis_b [31, 58]
code:2412 total [1618, 7403], iso [1606, 7332], nis [12, 71], nis_s [0, 0], nis_c [0, 0], nis_b [12, 71]
code:3045 total [1788, 2032], iso [1770, 2027], nis [18, 5], nis_s [0, 0], nis_c [0, 0], nis_b [18, 5]

In [31]:
total_df = pd.concat(total_list, axis=1)
total_df.index = ['all', 'iso', 'nis', 'nis_s', 'nis_c', 'nis_b']
total_df.groupby(level=[0]).sum()

        2609        2912         3037          2603         2892        ...  \
        Long  Short Long Short   Long  Short   Long  Short  Long Short  ...
all    23282  18501  284   393  23996  17949  23158  20179  5216  7441  ...
iso    23091  18194  270   393  23620  17253  23022  19932  4980  7434  ...
nis      191    307   14     0    376    696    136    247   236     7  ...
nis_b      0      0   11     0     89      9     26     18    72     7  ...
nis_c     39      9    0     0      0      0     84      1     0     0  ...
nis_s    152    298    3     0    287    687     26    228   164     0  ...

      2345        1326        1301        2412        3045
      Long Short  Long Short  Long Short  Long Short  Long Short
all    969  1147  1005  1830  4601  3732  1618  7403  1788  2032
iso    941  1134   995  1725  4568  3674  1606  7332  1770  2027
nis     28    13    10   105    33    58    12    71    18     5
nis_b    0     3    10    66    31    58    12    71    18     5
nis_c    0     1     0     0     0     0     0     0     0     0
nis_s   28     9     0    39     2     0     0     0     0     0

[6 rows x 100 columns]

In [32]:
# 計算(COI_b - COI_s) / (COI_b + COI_s)
total_df.groupby(level=0, axis=1).diff(-1).dropna(axis=1).droplevel(level=1, axis=1)
score = total_df.groupby(level=0, axis=1).diff(-1).dropna(axis=1).droplevel(level=1, axis=1) / \
    total_df.groupby(level=[0], axis=1).sum()
score.fillna(0, inplace=True)

In [26]:
# 論文裡最高分的
nis_s_nis = score.rank(axis=1).loc['nis_s', :] - score.rank(axis=1).loc['nis', :]
short = nis_s_nis.sort_values()[:5]
long = nis_s_nis.sort_values()[-5:]
print(f'要Long這五檔: {long.index}')
print(f'要Short這五檔: {short.index}')

要Long這五檔: Index(['1216', '2308', '2891', '1590', '2892'], dtype='object')
要Short這五檔: Index(['2207', '4904', '2395', '5880', '1301'], dtype='object')

In [67]:
# 分成很多類來比較損益看看
# 1. 

# 損益
rt = np.log(stk_return.groupby('code')[['code', 'close']].tail(1).sort_values('code').set_index('code').astype(float) / \
        stk_return.groupby('code')[['code', 'close']].head(1).sort_values('code').set_index('code').astype(float))
coitype = score.index
for c in coitype:
        for c2 in coitype:
                if c == c2:
                        continue
                rank = score.rank(axis=1).loc[c, :] - score.rank(axis=1).loc[c2, :]
                long = rank.sort_values()[-5:]
                short = rank.sort_values()[:5]
                print('coitype: {} - {}, return: {:.4f}'.format(c, c2, (rt.loc[long.index].sum() - rt.loc[short.index].sum())["close"]))
                
                print('\n')
        for c2 in coitype:       
                rank = score.rank(axis=1).loc[c, :] + score.rank(axis=1).loc[c2, :]
                long = rank.sort_values()[-5:]
                short = rank.sort_values()[:5]
                print('coitype: {} + {}, return: {:.4f}'.format(c, c2, (rt.loc[long.index].sum() - rt.loc[short.index].sum())["close"]))

coitype: all, return: 0.0827
coitype: iso, return: 0.0827
coitype: nis, return: 0.1399
coitype: nis_s, return: 0.1140
coitype: nis_c, return: -0.0320
coitype: nis_b, return: 0.0459

In [70]:
# 分成很多類來比較損益看看
# 1. 

# 損益
rt = np.log(stk_return.groupby('code')[['code', 'close']].tail(1).sort_values('code').set_index('code').astype(float) / \
        stk_return.groupby('code')[['code', 'close']].head(1).sort_values('code').set_index('code').astype(float))
coitype = score.index
for c in coitype:
    rank = score.rank(axis=1).loc[c, :]
    long = rank.sort_values()[-5:]
    short = rank.sort_values()[:5]
    print('coitype: {}, return: {:.4f}'.format(c, (rt.loc[long.index].sum() - rt.loc[short.index].sum())["close"]))
    for c2 in coitype:
        if c == c2:
                continue
        rank = score.rank(axis=1).loc[c, :] - score.rank(axis=1).loc[c2, :]
        long = rank.sort_values()[-5:]
        short = rank.sort_values()[:5]
        print('coitype: {} - {}, return: {:.4f}'.format(c, c2, (rt.loc[long.index].sum() - rt.loc[short.index].sum())["close"]))
            
    print('\n')
    for c2 in coitype:
        if c == c2:
                continue
        rank = score.rank(axis=1).loc[c, :] + score.rank(axis=1).loc[c2, :]
        long = rank.sort_values()[-5:]
        short = rank.sort_values()[:5]
        print('coitype: {} + {}, return: {:.4f}'.format(c, c2, (rt.loc[long.index].sum() - rt.loc[short.index].sum())["close"]))
    print('\n')

coitype: all, return: 0.0827
coitype: all - iso, return: 0.0579
coitype: all - nis, return: -0.0400
coitype: all - nis_s, return: -0.0556
coitype: all - nis_c, return: 0.1022
coitype: all - nis_b, return: 0.0368


coitype: all + iso, return: 0.0827
coitype: all + nis, return: 0.0907
coitype: all + nis_s, return: 0.1339
coitype: all + nis_c, return: 0.0133
coitype: all + nis_b, return: -0.0212


coitype: iso, return: 0.0827
coitype: iso - all, return: -0.0513
coitype: iso - nis, return: -0.0400
coitype: iso - nis_s, return: -0.0556
coitype: iso - nis_c, return: 0.1022
coitype: iso - nis_b, return: 0.0368


coitype: iso + all, return: 0.0827
coitype: iso + nis, return: 0.0907
coitype: iso + nis_s, return: 0.1339
coitype: iso + nis_c, return: 0.0133
coitype: iso + nis_b, return: -0.0212


coitype: nis, return: 0.1399
coitype: nis - all, return: 0.0400
coitype: nis - iso, return: 0.0400
coitype: nis - nis_s, return: -0.0477
coitype: nis - nis_c, return: -0.2084
coitype: nis - nis_b, return: 0.0976


coitype: nis + all, return: 0.0907
coitype: nis + iso, return: 0.0907
coitype: nis + nis_s, return: 0.1044
coitype: nis + nis_c, return: 0.0828
coitype: nis + nis_b, return: 0.0356


coitype: nis_s, return: 0.1140
coitype: nis_s - all, return: 0.0556
coitype: nis_s - iso, return: 0.0556
coitype: nis_s - nis, return: 0.0477
coitype: nis_s - nis_c, return: -0.1221
coitype: nis_s - nis_b, return: 0.0666


coitype: nis_s + all, return: 0.1339
coitype: nis_s + iso, return: 0.1339
coitype: nis_s + nis, return: 0.1044
coitype: nis_s + nis_c, return: 0.0631
coitype: nis_s + nis_b, return: 0.0637


coitype: nis_c, return: -0.0320
coitype: nis_c - all, return: -0.1022
coitype: nis_c - iso, return: -0.1022
coitype: nis_c - nis, return: 0.2084
coitype: nis_c - nis_s, return: 0.1519
coitype: nis_c - nis_b, return: 0.0752


coitype: nis_c + all, return: 0.0133
coitype: nis_c + iso, return: 0.0133
coitype: nis_c + nis, return: 0.0828
coitype: nis_c + nis_s, return: 0.0631
coitype: nis_c + nis_b, return: 0.1679


coitype: nis_b, return: 0.0459
coitype: nis_b - all, return: -0.0368
coitype: nis_b - iso, return: -0.0368
coitype: nis_b - nis, return: -0.0976
coitype: nis_b - nis_s, return: -0.0666
coitype: nis_b - nis_c, return: -0.0752


coitype: nis_b + all, return: -0.0212
coitype: nis_b + iso, return: -0.0212
coitype: nis_b + nis, return: 0.0356
coitype: nis_b + nis_s, return: 0.0637
coitype: nis_b + nis_c, return: 0.1679

In [50]:
rt.loc[long.index].sum() - rt.loc[short.index].sum()

close    0.082676
dtype: float64